<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login 2024</title>
  <link rel="stylesheet" href="./css/indexstyles.css">
  <link rel="stylesheet" href="./css/navBar.css">
  <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/american-captain-2" rel="stylesheet">
  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300&display=swap" rel="stylesheet">
  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,500,501,700,701,901,1,2&display=swap"
    rel="stylesheet">

  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,500,501,700,701,901,1,2&display=swap"
    rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
  <link rel="shortcut icon" href="/images/loginPrimaryLogo.svg" type="image/x-icon">
</head>

<body>
  <%- include('navBar') %>
    <section id="landing-section">
      <div class="space-logo">
        <div class="logos">

        </div>
        <br><br><br>
        <div class="landcents">
          <div class="landerh">
            <h1>PSG COLLEGE OF TECHNOLOGY</h1><br>
            <div class="lltext">
              <h2 style="font-family: Satoshi;">COMPUTER APPLICATIONS ASSOCIATION</h2>
              <h2 style="font-family: Satoshi;">COMPUTATIONAL SCIENCES ASSOCIATION</h2><BR>
            </div>

            <h5>Proudly Present</h5><br><br>
            <!-- <img src="images/Loginlogo.png"> -->
            <div class="logintext">
              <img src="./images/loginPrimaryLogo.svg">
              <br><br>
            </div><br>


          </div>
        </div>
      </div>
      <!-- <div id="vanta-background" style="width: 100%; height: 900px" class="vandas">
    <div class="logos">
        
    </div>

    
<div class="linesss">
    
</div>


      <br><br><br>
      <div class="landcents">
<div class="landerh">
    <h1>PSG College of Technology</h1><br>
    <div class="lltext">
        <h2>Computer Applications Association</h2>
    <h2>Computational Sciences Association</h2>
    </div>
    
    <h5>Proudly Present</h5><br>
    <img src="images/Loginlogo.png">
</div>
</div>
</div> -->

    </section>

    <section id="about-section">
      <div class="aboutcent">
        <div class="about revealup">
          <h1>LOGIN 2024 - AI Nexus: Crafting the Symphony of Digital Intellect </h1>
        </div>
        <br>
        <div class="about revealup">
          <h1>What is LOGIN??</h1>
          <div class="abouttext">
                 <p> <b>LOGIN</b>, an esteemed international technical symposium now in its <b>33rd edition</b>, is proudly presented by the <b>Computer Applications Association</b> and <b>Computational Sciences Association.</b> <br><br> As AI reshapes our digital world, much like a symphony where each instrument plays a vital role, AI technologies come together to form a powerful network. This symposium explores AI's transformative impact, highlighting its potential to revolutionize industries, enhance daily life, and tackle global challenges with creativity and compassion. <br><br> Scheduled for the <b> 21st and 22nd of September 2024</b> , We invite the <b>postgraduate students</b> worldwide to engage in a dynamic experience of competition and collaboration. <br><br><b> Join us as we refine, recognize, and reward those contributing to the symphony of digital intellect, celebrating AI's ability to inspire, innovate, and impact the world.</b></p>

          </div>
        </div>

        <br><br>
      </div>
    </section>

    <section id="events-section">
      <div class="cddd revealup">
        <div class="cardanim">

          <div class="cards">
            <!-- <h1 style="text-align: center; color: #fff;">Events</h1>             -->
            <h1 class="coming-soon">Exciting event lineup coming your way</h1>
          </div>
          <br>
          <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
          type="module"></script>
          <!-- <h1 style="text-align: center; color: #dbb13b; font-size: 60px; font-style: italic; font-weight: bolder;">Coming Soon...</h1>   -->
          <dotlottie-player src="https://lottie.host/0451d5be-c067-4a07-9238-af98678f9e50/4TmJz6qtHV.json"
          background="transparent" speed="1" style="width: 100%; height: 100%" direction="1" playMode="normal" loop
          autoplay> </dotlottie-player><br><br>
        </div>
        <div class="sssss revealup">




          <!--  <dotlottie-player src="https://lottie.host/f005c67e-d120-485e-95e4-10289117525d/6zaJqnqr7A.json" background="transparent" speed="1" style="width: 100%; height: 35%" direction="2" playMode="normal" loop autoplay></dotlottie-player>    <dotlottie-player src="https://lottie.host/0451d5be-c067-4a07-9238-af98678f9e50/4TmJz6qtHV.json" background="transparent" speed="1" style="width: 100%; height: 100%" direction="1" playMode="normal" loop autoplay></dotlottie-player>
    -->

        </div>
      </div>

    </section>

    <section id="footer-section" class="revealup">
      <footer>
        <div class="ffbox revealup">
          <div class="ffimg">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.1914293960344!2d77.00024787355565!3d11.02425965457647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8582f1435fa59%3A0x137d95bfd8909293!2sPSG%20College%20Of%20Technology%20-!5e0!3m2!1sen!2sin!4v1723285596362!5m2!1sen!2sin"
              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="fftxt">
            <h2>PSG COLLEGE OF TECHNOLOGY</h2>
            <h2>PEELAMEDU</h2>
            <h2>COIMBATORE - 641004</h2><br>
            <h3><span style="color: cornflowerblue;">BUS ROUTES</span></h3>
            <br>
            <h4> &emsp13;&emsp13;GANDHIPURAM to PSG TECH: </h4>
            &emsp13;&emsp13;105C , 108A ,19C, 19D, 20A, 20D, 30D, 40A, 40B<br><br>
            <h4>&emsp13;&emsp13;SINGANALLUR to PSG TECH:</h4>

            &emsp13;&emsp13;140, S11, S1, S16, S21B<br><br>
            <h4>&emsp13;&emsp13;UKKADAM/RAILWAY STATION to PSG TECH:</h4>
            &emsp13;&emsp13;90A, 16C, 16B, 10A, S7A</h3>
          </div>
          <div class="fflinks">

            <div class="fflinkicon">
              <a href="https://www.instagram.com/loginpsgtech/"><img src="images/instagram.png" alt="instagram"></a>
              <a href="mailto:psg.caa.secretary@gmail.com"><img src="images/mail.png" alt="mail"></a>
              <a href="https://www.linkedin.com/company/login-psg-tech/"><img src="images/linkedin.png" alt="linkedin"></a>
            </div>
            <br><br>
            <h5>Email : psg.caa.secretary@gmail.com</h5>
            <h5>Phone : +91 9384397477</h5>


          </div>
        </div>
      </footer>
    </section>
</body>

<script>
  const toggleButton = document.getElementsByClassName('navbaricon')[0]
  const navbarLinks = document.getElementsByClassName('navbar')[0]
  toggleButton.addEventListener('click', () => {
    navbarLinks.classList.toggle('active')
  })
</script>
<script>
  window.addEventListener('scroll', reveal);
  function reveal() {
    var reveals = document.querySelectorAll('.reveal');
    for (var i = 0; i < reveals.length; i++) {
      var windowheight = window.innerHeight;
      var revealtop = reveals[i].getBoundingClientRect().top;
      var revealpoint = 150;

      if (revealtop < windowheight - revealpoint) {
        reveals[i].classList.add('activ');
      }
      else {
        reveals[i].classList.remove('activ');
      }
    }
  }
</script>
<script>
  window.addEventListener('scroll', revealal);
  function revealal() {
    var reveals = document.querySelectorAll('.revealal');
    for (var i = 0; i < reveals.length; i++) {
      var windowheight = window.innerHeight;
      var revealtop = reveals[i].getBoundingClientRect().top;
      var revealpoint = 150;

      if (revealtop < windowheight - revealpoint) {
        reveals[i].classList.add('activer');
      }
      else {
        reveals[i].classList.remove('activer');
      }
    }
  }
</script>


<!-- ANIMATION JS FOR THE PAST sponsors SCROLL VIEW -->
<script>
  // Get all scroll elements
  const scrollElements = document.querySelectorAll('.scroll');

  // Add click event listeners
  scrollElements.forEach(scroll => {
    scroll.addEventListener('click', function (event) {
      // Check if the clicked element is a span or an img
      if (event.target.tagName === 'SPAN' || event.target.tagName === 'IMG') {
        // Toggle the paused class
        scroll.classList.toggle('paused');
      } else {
        // If clicked anywhere else in the scroll, continue animation
        scroll.classList.remove('paused');
      }
    });
  });
</script>


<script>
  window.addEventListener('scroll', revealup);
  function revealup() {
    var reveals = document.querySelectorAll('.revealup');
    for (var i = 0; i < reveals.length; i++) {
      var windowheight = window.innerHeight;
      var revealtop = reveals[i].getBoundingClientRect().top;
      var revealpoint = 100;

      if (revealtop < windowheight - revealpoint) {
        reveals[i].classList.add('activeup');
      }
      else {
        reveals[i].classList.remove('activeup');
      }
    }
  }
  // document.querySelector('.profile-logo').addEventListener('click', function() {
  //       const dropdown = document.querySelector('.dropdown-menu');
  //       dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
  //   });

  //   document.addEventListener('click', function(event) {
  //       const profileContainer = document.querySelector('.profile-container');
  //       const dropdown = document.querySelector('.dropdown-menu');
  //       if (!profileContainer.contains(event.target)) {
  //           dropdown.style.display = 'none';
  //       }
  //   });

</script>
<script>
  VANTA.BIRDS({
    el: "#vanta-background",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    quantity: 2.00,
    backgroundColor: 0x121018
  });
</script>

</html>