<div class="psg-container psg-mobile">
  <img src="./images/PSGCTlogo.png" alt="">
  <p>PSG CT</p>
</div>
<div class="navbaricon">
  <div class="ff">
    <button
      class="menu"
      onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
      aria-label="Main Menu"
    >
      <svg width="100" height="80" viewBox="0 0 100 100">
        <path
          class="line line1"
          d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
        />
        <path class="line line2" d="M 20,50 H 80" />
        <path
          class="line line3"
          d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
        />
      </svg>
    </button>
  </div>
</div>
<section id="navbar-section">
  <div class="navcent">
    <nav class="navbar" style="font-family: 'Satoshi', sans-serif">
      <div class="psg-container">
        <img src="./images/PSGCTlogo.png" alt="">
        <p>PSG College of Technology</p>
      </div>
      <ul>
        <li><a href="/#landing-section">Home</a></li>
        <li><a href="/#about-section">About</a></li>
        <li><a href="/#events-section">Events</a></li>
        <!-- <li><a href="/#sponsors-section">Sponsors</a></li> -->
        <li><a href="/#footer-section">Contact</a></li>
        <!-- <li><a href="/schedule">Schedule</a></li>
        <li><a href="/myevent">My Events</a></li> -->

      </ul>
    

    </nav>
  </div>
</section>

<script>
  const toggleButton = document.getElementsByClassName("navbaricon")[0];
  const navbarLinks = document.getElementsByClassName("navbar")[0];
  toggleButton.addEventListener("click", () => {
    navbarLinks.classList.toggle("active");
  });
  document.querySelector('.profile-logo').addEventListener('click', function() {
            const dropdown = document.querySelector('.dropdown-menu');
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        });

        document.addEventListener('click', function(event) {
            const profileContainer = document.querySelector('.profile-container');
            const dropdown = document.querySelector('.dropdown-menu');
            if (!profileContainer.contains(event.target)) {
                dropdown.style.display = 'none';
            }
        });
</script>
